.inside {
  width: 75%;
  Margin:auto;
}
nav {
margin: 0 auto;
  background-color: #92b7fe;

}
.navigation {
list-style: none;
  padding: 0em;
  width: 100%;
  box-shadow: 3px 3px;
}
.navigation li:first-child {
display: block;
}
.navigation li {
display: none;
}
.navigation a {
display: block;
color: #B5D3E7;
padding: 0.75rem;
text-align: left;
text-decoration: none;
}
.navigation a:hover {
color: #000;
background-color: whitesmoke;
  font-weight: 700;
  border-style: solid;
}
.responsive li {
display: block;
}
#active {
  background-color: whitesmoke;
} 
header, footer {
  background-color: #B5D3E7;
  border: 6px solid #92b7fe;
  box-shadow: 3px 3px;
}
header {
  text-align: center;
}
footer {
  text-align: center;
}
h1 {
  font-family: 'helvatica', sans-serif;
  text-shadow: 1px 1px;
  text-align: center;
}
h3 {
  Padding: 1em;
  text-align: left;
}

ul {
  text-align: left;
}
  .transform {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;
  }
  #image {
    background-color: #ffffff;
  }
  img {
    width: 100px;
    height: 100px;
    transition: transform 5s infinite;
    margin: 0 auto;
    -webkit-animation: spin 4s infinite linear;
  }
  @-webkit-keyframes spin {
      0%  {-webkit-transform: rotate(0deg);}
      100% {-webkit-transform: rotate(-360deg);}   
  }
  @keyframes mymove {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 100px;}
    50%  {top: 100px; left: 0px;}
    75%  {top: 100px; left: 100px;}
    100% {top: 0px; left: 0px;}
  }