body {
    margin: 0 auto;
    max-width: 1920px;
  }
  header nav {
    padding-right: 50px;
    float: right;
      font-size: 1em;
  }
  .nav-menu {
    margin-top: -80px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
     width: auto;
    list-style-type: none;
  }  
  .nav-menu li {
    display: block;
  }
  .nav-menu a {
    padding: 2px;
    border-radius: 15px;
    height: 20px;
      display: block;
    margin: 3px;
      font-size: 1em;
      text-decoration: none;
    list-style-type: none;
      color: white;
      line-height: 1;
  }
  .nav-menu a:hover {
    -ms-transform: skewX(20deg);
    transform: skewX(20deg); 
    text-align: center;
    background-color: #3fb5f4;
  }
  #active {
    color: black;
    padding: 3px;
    background-color: whitesmoke;
  }
  .top-section {
    text-align:center;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("../images/cyber-3400789_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  .top-section h1 {
    color: whitesmoke;
    font-size: 30px;
  }
  .top-section h3 {
    border-color: black;
    background-color:rgba(192,192,192,.5);
    font-weight: 900;
    padding: 5px;
    margin: 0 auto;
    width: 50%;
    border-style: solid;
    text-align: left;
    }
    .sections {
        text-align: center;
        margin: 0 0 100px 0;
      }
      .section-info {
        background: #8b8b8b;
        width: 300px;
        height: 295px;
        display: inline-block;
        margin: 13px;
      }
      .section-info img {
        background-color: #eeeeee;
        width: 100%;
        
      }
      .section-info h2 {
        color: black;
        font-size: 17px;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
      }
      
      .section-info p {
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 11px;
          width: 245px;
          margin: 50px auto;
          color: #8b8b8b;
      }
  footer {
    border-style: solid;
    padding: 15px;
    height: 65px;
    margin-top: 5px;
    background-color: #477998;
  }