html {
    padding: 10px;
  }
  body {
    Margin:auto;
    max-width: 95%
  }
  .inside {
    width: 75%;
    Margin:auto;
  }
  nav {
	margin: 0 auto;
    background-color: #92b7fe;

}
.navigation {
	list-style: none;
    padding: 0em;
    width: 100%;
    box-shadow: 3px 3px;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #B5D3E7;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: whitesmoke;
    font-weight: 700;
    border-style: solid;
}
.responsive li {
	display: block;
}
#active {
    background-color: whitesmoke;
} 
  header, footer {
    background-color: #B5D3E7;
    border: 6px solid #92b7fe;
    box-shadow: 3px 3px;
  }
  header {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  h1 {
    font-family: 'helvatica', sans-serif;
    text-shadow: 1px 1px;
    text-align: center;
  }
  h3 {
    Padding: 1em;
    text-align: left;
  }
  section {
    text-align: center;
  }
  
  ul {
    text-align: left;
  }

  #animation {
    background-color: #DCDCDC;
    border-radius: 15px;
    border: solid 1px;
    width: 450px;
    height: 300px;
    margin: 0 auto;
  }
  #box {
    background: #ffffff;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    border: solid 1px;
  }
  .lower {
    width: 300px;
    margin: 0 auto;
    padding: .5em;
    text-align: center;
  }
  button {
    width: 75px;
    display: flex;
    display: inline;
    padding: .2em;
  }
  