@media only screen and (min-width: 900px) {
  .nav-menu {
    width: auto;
   }    
 
 .nav-menu a {
     display: inline;
 }
 .nav-menu li {
     display: inline;
     padding-right: 10px;
   }
   
    
}