body {
    Margin:auto;
    width: 85%;
    padding: .5em;
}
header {
    border: 2px solid #ff4e4e;
    background-color: #C44F4F;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
#burger {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 30px;
}
#title {
    margin-bottom: 30px;
    color: #F5F5F5;
}
#insideHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
footer {
    border: 2px solid #ff4e4e;
    background-color: #C44F4F;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
h3, h4, h5, h6 {
    margin-left: 10px;
    text-shadow: 2px 2px 5px;
    display: block;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}
h1, h2 {
    text-align: center;
    color: #F5F5F5;
}
.content {
    text-align: center;
}
.contentBox {
    background-color: grey; 
    margin: 1em;
    border-radius: 5px;
    border-style: solid;
}
p {
    font-family: "Times New Roman", Times, serif;
    color: #F5F5F5;
}
nav {
	margin: 0 auto;
    background-color: #000;
}
.navigation {
	list-style: none;
    padding: 0em;
    width: 100%;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: grey;
    font-weight: 700;
    border-style: solid;
}
.responsive li {
	display: block;
}
.summary p, h2 {
    margin-left: 5px;
    color: whitesmoke;
}
.summary {
    
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    position: absolute;
    float: left;
    border-radius: 15px;
    top: 25px;
    left: 25px;
    background-color: grey;
}
#bbqFamily {
    width: 100%;
    border-radius: 15px;
    border-style: solid;
}
#shouldYou {
    margin: auto;
    position: relative;
    width: 80%;
    border-radius: 15px;
}
#active {
    background-color: whitesmoke;
}
#articleImg {
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    float: right;
    border-radius: 15px;
    top: 25px;
    left: 25px;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: whitesmoke;
    max-width: 300px;
    }
    #articleText {
        margin-left: 10px;
        font-size: 25px;
    }
    #forcastBox {
		display: none;
    }
    .map {
        display: none;
    }
    .contactInfo {
        display: block;
        text-align: center;
    }
    #banner {
        background-color:black;
        color: whitesmoke;
        text-align: center;
        align-items: center;
        padding: 1.5em;
        border-radius: .5em;
        font-size: 1.2em;
    }
    #contactHead {
        text-align: center;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    
    .col {
        flex: 1 1 100%;
        background-color: #883333c7;
        font-size: 13px;
        text-align: center;
    }
    
    .bo {
        background-color: #ADD8E6;
        text-align: center;
        width: 30%;
        margin: auto;
        margin-top: 10px;
    }
    section  {
        border: 1px solid;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 15px;
    }
    .towns {
        border-radius: 15px;
        background-color: whitesmoke;
    }
    .towns p {
        color: black;   
    }
   
   
