body {
    Max-width: 750px;
    border: 6px solid #92b7fe;
    Margin:auto;
    border-radius: 18px;
  }
  header, footer {
    background-color: #B5D3E7;
    border: 6px solid #92b7fe;
  }
  header {
    text-align: center;
    border-radius: 10px 10px 0px 0px;
  }
  footer {
    text-align: center;
    padding: 3px;
  }
  h1, h2 {
    font-family: 'helvatica', sans-serif;
    font-size: 1.4em;
    text-shadow: 1px 1px;
  
  }
  li {
    font-weight: bold;
    font-size: 1.2em;
  }
  a {
    font-size: .80em;
  }