body {
    margin: 0 auto;
    max-width: 1920px;
  }
  header {
    padding: 5px;
    border-style: solid;
    background-color: #477998;
  }
  header img {
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: 190px;
}
header nav {
  padding-right: 50px;
  float: right;
    font-size: 1em;
}
.nav-menu {
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
   width: auto;
  list-style-type: none;
}  
.nav-menu li {
  display: block;
}
.nav-menu a {
  padding: 2px;
  border-radius: 15px;
  height: 20px;
    display: block;
  margin: 3px;
    font-size: 1em;
    text-decoration: none;
  list-style-type: none;
    color: black;
    line-height: 1;
}
.nav-menu a:hover {
  text-align: center;
  background-color: #3fb5f4;
}
#active {
  padding: 3px;
  background-color: whitesmoke;
}
  .top-section {
    text-align:center;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("../images/ship-3698039_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  table, th, td {
    width: 100px;
    border: 1px solid black;
    padding: 5px;
  }
  table th {
    background-color: #32a388;
  }
  table td {
    text-align: left;
    background-color: #3fb5f4;
  }
  table {
    background-color:rgba(192,192,192,.5);
    margin: 0 auto;
    width: 50%;
    border-spacing: 15px;
  }
  .bottom-section {
    margin: 0 auto;
    width: 50%;
}
  button {
    height: 30px;
    margin-top: 30px;
  }

  footer {
    border-style: solid;
    padding: 15px;
    height: 65px;
    margin-top: 5px;
    background-color: #477998;
  }
  #socialMedia {
    float: right;
    
  }
  #socialMedia img {
    border-style: solid;
    border-radius: 10px;
  }
  #copy {
    float: left;
  }